{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="/static/rootApp/asset/css/style.css" rel="stylesheet">
    <link href="/static/rootApp/asset/css/jquery-ui.css" rel="stylesheet">
    <style type="text/css">
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <style type="text/css">
        .jumbotron p {
            margin-bottom: 15px;
             font-size: 17px; 
            font-weight: 200;
            text-align: justify;
        }

        hr {
            margin: 5px 30% 20px;
            border-top: 1px solid #0231a0;
        }

        .about {
            min-height: calc(100vh - 88px)!important;
            background: #fff;
        }

        .topImage {
            background: url(/static/rootApp/asset/images/galam.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 700px;
        }

        .text-center {
            text-align: center!important;
        }

    </style>
</head>

<body>
    <header class="to-header topbar">
        <img id="" target="_blank" src="/static/rootApp/asset/images/logo/SERVIR-WA.png" class="logo" title="SERVIR West Africa" style="">
        <img id="" target="_blank" src="/static/rootApp/asset/images/logo/usaid.png" class="logo pull-right" title="USAID">
        <img id="" target="_blank" src="/static/rootApp/asset/images/logo/nasa.png" class="logo pull-right" title="NASA">
        <img id="" target="_blank" src="/static/rootApp/asset/images/logo/cliss.png" class="logo pull-right" title="CLISS">
        <img id="" target="_blank" src="/static/rootApp/asset/images/logo/cersgis.png" class="logo pull-right" title="CERSGIS">

        <!-- <a class="navbar-brand" href="#" style="color: #fff; font-size: 21px;">Tethys Django App</a> -->
    </header>
    <nav class="navbar navbar-default topbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                   
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>
    <div class="about" style="overflow-y: auto;">
        <div class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 topImage">
                    </div>
                    <div class="col-md-8" style="padding: 0px 50px;">
                        <div class="col-md-12">
                            <h2>About the <b> Charcoal Production Monitoring </b> Portal</h2>
                            <hr>
                            <p>The Charcoal Production Site Monitoring Service, a joint initiative of SERVIR-PCU, NASA SCO, AST, A Rocha and CERSGIS to help developing countries use information provided by Earth observing satellites and geospatial technologies for identifying charcoal production sites and associated changes in woody vegetation cover on a regular basis. </p>

                            <p>  The Monitoring Service is a web-based platform for visualizing the spatial distribution of charcoal production sites, thereby facilitating forest degradation monitoring in the study areas. Very high-resolution imagery from Google Earth and remote sensing data from Landsat 7 ,8  and Sentinel2 will be used to identify charcoal kilns and the production of tree cover density maps. The information will aid in the monitoring of tree cover loss for estimating carbon emissions and for district-level land use planning purposes.</p>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                            <h2> Partners</h2>
                            <hr>
                                
                                <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/arocha.jpg" alt="arocha">
                        <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/epa.jpg" alt="EPA">
                        <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/ministry.jpg" alt="Government of Ghana">
                        <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/fc.jpg" alt="Forestry Commission of Ghana">
                            </div>
                            {% comment %} <div class="col-md-4">
                                
                               <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/epa.jpg" alt="EPA">
                            </div>
                            <div class="col-md-2">
                                
                                <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/ministry.jpg" alt="Government of Ghana">
                            </div>
                            <div class="col-md-3">
                                
                                 <img class="" height="70px;" style="margin:2px 10px;" src="http://servir.cersgis.org/static/portal/images/partners/fc.jpg" alt="Forestry Commission of Ghana">
                            </div> {% endcomment %}
                            {% comment %} <div class="col-md-3">
                                
                                <img class="img-responsive" height="" style="margin:2px auto; height:70px!important;" src="http://servir.cersgis.org/static/portal/images/cersgis.png" alt="CERSGIS">
                            </div> {% endcomment %}
                        </div>


                        <div class="col-md-12"> <br><br>
                            <h2> Contact Person:</h2>
                            <hr style="">
                            <p class="text-center">Mary Amponsah <a href="mailto:mamponsah91@gmail.com">(mamponsah91@gmail.com)</a></p>
                             <br><br>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/rootApp/asset/js/main.js"></script>
    <script type="text/javascript">
    </script>
</body>

</html>